// space.scss
// variables

// mixins
@mixin viewport { 
  left: 0vw;
  top: 0vh;
  width: 100vw;
  height: 100vh;
  margin:0;
  border:0;
  padding:0;
}

/* document */
body {
  @include viewport;
  position: relative;
  display: block;
  overflow: hidden;
  /* background-color: #ddddff; */
  background-color: #ffffff;
}

#space {
  position:absolute;
  @include viewport;
}


